
# entries from cpc-java
cpc-java/exercise_files
cpc-java/.idea/
cpc-java/*.iml
cpc-java/target/
cpc-java/out/
cpc-java/lib
cpc-java/build/
cpc-java/bin
cpc-java/.classpath
cpc-java/.project
cpc-java/.settings
# entries from rails_5_essentials
rails_5_essentials/exercise_files
rails_5_essentials/.bundle
rails_5_essentials/db/*.sqlite3
rails_5_essentials/db/*.sqlite3-journal
rails_5_essentials/db/*.sqlite3-*
rails_5_essentials/log/*
rails_5_essentials/tmp/*
rails_5_essentials/!/log/.keep
rails_5_essentials/!/tmp/.keep
rails_5_essentials/storage/*
rails_5_essentials/!/storage/.keep
rails_5_essentials/public/assets
rails_5_essentials/.byebug_history
rails_5_essentials/config/master.key
rails_5_essentials/public/packs
rails_5_essentials/public/packs-test
rails_5_essentials/node_modules
rails_5_essentials/yarn-error.log
rails_5_essentials/yarn-debug.log*
rails_5_essentials/.yarn-integrity

# entries from devisedemo
devisedemo/exercise_files
devisedemo/.bundle
devisedemo/db/*.sqlite3
devisedemo/db/*.sqlite3-journal
devisedemo/db/*.sqlite3-*
devisedemo/log/*
devisedemo/tmp/*
devisedemo/!/log/.keep
devisedemo/!/tmp/.keep
devisedemo/tmp/pids/*
devisedemo/!/tmp/pids/
devisedemo/!/tmp/pids/.keep
devisedemo/storage/*
devisedemo/!/storage/.keep
devisedemo/public/assets
devisedemo/.byebug_history
devisedemo/config/master.key
devisedemo/public/packs
devisedemo/public/packs-test
devisedemo/node_modules
devisedemo/yarn-error.log
devisedemo/yarn-debug.log*
devisedemo/.yarn-integrity

# entries from zombie_twitter_rails_app
zombie_twitter_rails_app/exercise_files
zombie_twitter_rails_app/.bundle
zombie_twitter_rails_app/db/*.sqlite3
zombie_twitter_rails_app/db/*.sqlite3-journal
zombie_twitter_rails_app/db/*.sqlite3-*
zombie_twitter_rails_app/log/*
zombie_twitter_rails_app/tmp/*
zombie_twitter_rails_app/!/log/.keep
zombie_twitter_rails_app/!/tmp/.keep
zombie_twitter_rails_app/storage/*
zombie_twitter_rails_app/!/storage/.keep
zombie_twitter_rails_app/public/assets
zombie_twitter_rails_app/.byebug_history
zombie_twitter_rails_app/config/master.key
zombie_twitter_rails_app/public/packs
zombie_twitter_rails_app/public/packs-test
zombie_twitter_rails_app/node_modules
zombie_twitter_rails_app/yarn-error.log
zombie_twitter_rails_app/yarn-debug.log*
zombie_twitter_rails_app/.yarn-integrity

# entries from koans
koans/exercise_files
koans/.rspec_status

# entries from rswag_demo
rswag_demo/exercise_files
rswag_demo/.bundle
rswag_demo/db/*.sqlite3
rswag_demo/db/*.sqlite3-journal
rswag_demo/db/*.sqlite3-*
rswag_demo/log/*
rswag_demo/tmp/*
rswag_demo/!/log/.keep
rswag_demo/!/tmp/.keep
rswag_demo/storage/*
rswag_demo/!/storage/.keep
rswag_demo/public/assets
rswag_demo/.byebug_history
rswag_demo/config/master.key
rswag_demo/public/packs
rswag_demo/public/packs-test
rswag_demo/node_modules
rswag_demo/yarn-error.log
rswag_demo/yarn-debug.log*
rswag_demo/.yarn-integrity

# entries from game-of-life
game-of-life/exercise_files
game-of-life/.rspec_status

# entries from simple_cms
simple_cms/exercise_files
simple_cms/.bundle
simple_cms/db/*.sqlite3
simple_cms/db/*.sqlite3-journal
simple_cms/db/*.sqlite3-*
simple_cms/log/*
simple_cms/tmp/*
simple_cms/!/log/.keep
simple_cms/!/tmp/.keep
simple_cms/storage/*
simple_cms/!/storage/.keep
simple_cms/public/assets
simple_cms/.byebug_history
simple_cms/config/master.key
simple_cms/public/packs
simple_cms/public/packs-test
simple_cms/node_modules
simple_cms/yarn-error.log
simple_cms/yarn-debug.log*
simple_cms/.yarn-integrity
simple_cms/config/credentials/development.key

# entries from scorm-cloud-api
scorm-cloud-api/exercise_files
scorm-cloud-api/.rspec_status
scorm-cloud-api/.env

# entries from bookshelf
bookshelf/exercise_files
bookshelf/.bundle
bookshelf/db/*.sqlite3
bookshelf/db/*.sqlite3-journal
bookshelf/db/*.sqlite3-*
bookshelf/log/*
bookshelf/tmp/*
bookshelf/!/log/.keep
bookshelf/!/tmp/.keep
bookshelf/tmp/pids/*
bookshelf/!/tmp/pids/
bookshelf/!/tmp/pids/.keep
bookshelf/storage/*
bookshelf/!/storage/.keep
bookshelf/public/assets
bookshelf/.byebug_history
bookshelf/config/master.key
bookshelf/public/packs
bookshelf/public/packs-test
bookshelf/node_modules
bookshelf/yarn-error.log
bookshelf/yarn-debug.log*
bookshelf/.yarn-integrity

# entries from saml_sp
saml_sp/exercise_files
saml_sp/.bundle
saml_sp/log/*
saml_sp/tmp/*
saml_sp/!/log/.keep
saml_sp/!/tmp/.keep
saml_sp/storage/*
saml_sp/!/storage/.keep
saml_sp/public/assets
saml_sp/.byebug_history
saml_sp/config/master.key
saml_sp/public/packs
saml_sp/public/packs-test
saml_sp/node_modules
saml_sp/yarn-error.log
saml_sp/yarn-debug.log*
saml_sp/.yarn-integrity
saml_sp/coverage
saml_sp/spec/examples.txt
saml_sp/tags
saml_sp/gems.tags
saml_sp/rubocop.html
saml_sp/spec/fixtures/batch_params*
saml_sp/.starscope.db
