## COMPILED .gitignore FOR ALL THE projects
## -----------------------------------------


# entries from rails_5_essentials
rails_5_essentials/
rails_5_essentials//.bundle
rails_5_essentials/
rails_5_essentials//db/*.sqlite3
rails_5_essentials//db/*.sqlite3-journal
rails_5_essentials//db/*.sqlite3-*
rails_5_essentials/
rails_5_essentials//log/*
rails_5_essentials//tmp/*
rails_5_essentials/!/log/.keep
rails_5_essentials/!/tmp/.keep
rails_5_essentials/
rails_5_essentials//storage/*
rails_5_essentials/!/storage/.keep
rails_5_essentials/
rails_5_essentials//public/assets
rails_5_essentials/.byebug_history
rails_5_essentials/
rails_5_essentials//config/master.key
rails_5_essentials/
rails_5_essentials//public/packs
rails_5_essentials//public/packs-test
rails_5_essentials//node_modules
rails_5_essentials//yarn-error.log
rails_5_essentials/yarn-debug.log*
rails_5_essentials/.yarn-integrity


# entries from zombie_twitter_rails_app
zombie_twitter_rails_app/
zombie_twitter_rails_app//.bundle
zombie_twitter_rails_app/
zombie_twitter_rails_app//db/*.sqlite3
zombie_twitter_rails_app//db/*.sqlite3-journal
zombie_twitter_rails_app//db/*.sqlite3-*
zombie_twitter_rails_app/
zombie_twitter_rails_app//log/*
zombie_twitter_rails_app//tmp/*
zombie_twitter_rails_app/!/log/.keep
zombie_twitter_rails_app/!/tmp/.keep
zombie_twitter_rails_app/
zombie_twitter_rails_app//storage/*
zombie_twitter_rails_app/!/storage/.keep
zombie_twitter_rails_app/
zombie_twitter_rails_app//public/assets
zombie_twitter_rails_app/.byebug_history
zombie_twitter_rails_app/
zombie_twitter_rails_app//config/master.key
zombie_twitter_rails_app/
zombie_twitter_rails_app//public/packs
zombie_twitter_rails_app//public/packs-test
zombie_twitter_rails_app//node_modules
zombie_twitter_rails_app//yarn-error.log
zombie_twitter_rails_app/yarn-debug.log*
zombie_twitter_rails_app/.yarn-integrity
